body {
    font-family: 'Inter', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header.article-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.home-link {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform 0.3s;
    cursor: pointer;
}

.home-link:hover {
    transform: scale(1.1); 
}

.header-image {
    width: 150px;
    height: auto;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5%; /* Rounded icons */
    padding: 0.5rem; 
}

main.article-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #aa8902; 
    margin-top: 20px;
}

.quarter-image {
    width: 40%;
    float: right;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 100%; 
    height: auto; 
}


.full-width-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* mobile users */
@media (max-width: 768px) {
    .quarter-image {
        width: 100%; 
        float: none; /* Remove floating to stack it properly */
        margin: 20px 0; /* Adjust margin for mobile */
    }

    .home-link {
        font-size: 1rem; /* Adjust font size  */
        left: 10px; /* Adjust positioning  */
    }

    main.article-content {
        padding: 10px; /* Reduce padding */
    }
}